:root {
    --dark-background-color: #210c3d;
    --light-background-color: white;
    --dark-text-color: white;
    --light-text-color: black;
    --fire: red;
    --grass: lightgreen;
    --water: aqua;
    --poison: purple;
    --bug: rgb(167, 210, 24);
    --flying: grey;
    --seed:orange;
}

* {
    box-sizing: border-box;
  }

body {
    background-image: url("../img/background.png");
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

header {
    width: 100%;
    margin-top: 0 auto;
}

main {
    background-size: contain;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
}

.main-content-container {
    text-align: center;
    height: 80vh;
}

footer {
    width: 100%;
    height: 10vh;
    text-align: center;
}

.sidebar {
    max-width: 260px;
    height: 100vh;
    position: absolute;
    background-color: lightgray;
    transition: left 0.3s ease;
    overflow: hidden;
}

.sidebar-header-image-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;}

.sidebar-header-image {
    position: relative;
    width: 35%;
}

.sidebar-title {
    position: relative;
}

.close-menu {
    margin-top: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.close-menu:focus, .close-menu:hover, .open-menu:focus, .open-menu:hover {
    scale: 1.1;
}

.open-menu {
    cursor: pointer;
    margin: 25px;
}

.sidebar.closed {
    left: -40vw;
}

.sidebar.open {
    left: 0;
}

.sidebar-header-container {
    background-color: #f2320c;
    background-clip: padding-box;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.pokemon-list  {
    padding: 0;
    margin: 0;
}

.pokemon-list-container {
    overflow: scroll;
    height: 60vh;
}

.pokemon-list li {
    list-style-type: none;
    width: 100%;
    height: 60px;
    transition: scale 0.3s ease;
    border-radius: 0 20px 0 20px;
    color: var(--dark-text-color);
}

.sidebar-card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #210c3d;
    width: 100%;
    height: 10vh;
    padding: 8px;
    text-align: center;
    align-items: center;
    transition: box-shadow 0.5s ease-in-out;
}

.go-button {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #f2320c;
    color: aliceblue;
    font-size: small;
    justify-content: space-between;
}

.pokemon-list li:hover {
    scale: 0.95;
}

.sidebar-card:hover {
    box-shadow: 5px 5px rgba(169, 169, 169, 0.331);
}

.search-container {
    justify-content: left;
}

.search-input {
    width: 150px;
}

.search-input-error-group {
    width: 100%;
    margin: 20px 20px 20px 10px;
}

#search-error {
    position: absolute;
    left: 10px;
    top: 250px;
    font-size: 10px;
    color: red;
}

#search-reset {
    cursor: pointer;
    color: black;
}

.seed {
    background-color:var(--seed) ;
}

.flame {
    background-color: var(--fire);
}

.turtle, .shellfish{
    background-color: var(--water);
}

@media screen and (min-width: 0px) and (max-width: 700px){
    .sidebar {
        display: none;
    }
    }