:root {
    --dark-background-color: black;
    --light-background-color: white;
    --dark-text-color: white;
    --light-text-color: black;
    --fire: red;
    --grass: lightgreen;
    --water: aqua;
    --poison: purple;
    --bug: rgb(167, 210, 24);
    --flying: grey;
    --seed:orange;
}

* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-background-color);
}

header {
    border: 1px solid black;
    border-radius: 25px 25px 0 0;
}

main {
    border: 1px solid black;
    height: 80vh
}

footer {
    border: 1px solid black;
    border-radius: 0 0 25px 25px;
}

.sidebar {
    border: 1px solid black;
    border-radius: 0px 50px 50px 0px;
    max-width: 40vw;
    height: 100vh;
    position: fixed;
    background-color: aliceblue;
    left: -40vw;
    transition: left 0.3s ease;
    overflow: hidden;
}

.close-menu {
    margin-top: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.open-menu {
    cursor: pointer;
    margin: 25px;
}
.sidebar.closed {
    left: -40vw;
}

.sidebar.open {
    left: 0;
}

.sidebar-header-container {
    background-image: url("https://placehold.co/300x200");
    background-clip: padding-box;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.pokemon-list  {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 10vh;
    padding-top: 2vh;
}

main {
    width: 100%;
    display: flex;
}

footer {
    width: 100%;
    height: 10vh;
}

.pokemon-list li {
    list-style-type: none;
    width: 100%;
    height: 20px;
    margin-top: 15px;
}

.pokemon-list li {
    transition: scale 0.3s ease;
}

.pokemon-list li:hover {
    scale: 1.1;
}

.search-container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
}

.search-input-error-group {
    width: 100%;
    margin: 20px 20px 20px 10px;
}

#search-warning {
    position: relative;
    left: 10px;
    top: -10px;
    font-size: 10px;
    color: red;
}

#search-reset {
    cursor: pointer;
}

.grass {
}

.fire {
}

.poison {
}

.flying {
}

.bug {
}

.water {
}

.search-error {
    grid-template-columns: 1fr;
    text-align: left;
    height: 50vh;
}

.seed {
    background-color:var(--seed) ;
}

.flame {
    background-color: var(--fire);
}

.turtle, .shellfish{
    background-color: var(--water);
}

@media screen and (min-width: 0px) and (max-width: 700px){
    .sidebar {
        display: none;
    }
    }