:root {
    --dark-background-color: #210c3d;
    --light-background-color: white;
    --dark-text-color: white;
    --light-text-color: black;
    --grass: rgb(5, 212, 5);
    --electric: rgb(199, 199, 7);
    --psychic: purple;
    --water: blue;
    --ice: aqua;
    --dragon: rgb(2, 114, 2);
    --dark: black;
    --fairy: pink;
    --unknown: darkgrey;
    --shadow: grey;
    --steel: rgb(155, 154, 154);
    --fire: red;
    --bug: brown;
    --ghost: white;
    --rock: rgb(250, 250, 214);
    --ground: rgb(173, 121, 79);
    --flying: skyblue;
    --poison: rgb(148, 115, 6);
    --fighting: darkblue;
    --normal: transparent;
}

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url('../img/background.png');
    background-size: cover;
}

.pokemon-list-container {
    overflow: scroll;
    height: 100vh;
}

.sidebar-card {
    align-items: center;
    transition: box-shadow 0.5s ease-in-out;
    margin-bottom: 10px;
}

/* .card-image {
    border-radius: 50px;
    scale: 0.5;
} */

.pokemon-list li:hover {
    scale: 0.98;
}

.sidebar-card:hover {
    box-shadow: 5px 5px rgba(169, 169, 169, 0.331);
}

.search-container {
    justify-content: left;
}

.search-input {
    width: 150px;
}

.search-input-error-group {
    width: 100%;
    margin: 20px 20px 20px 10px;
}

#search-error {
    font-size: 10px;
    color: red;
}

#search-reset {
    cursor: pointer;
    color: black;
}

#modal-container {
    display: none;
}

#modal-container.isOpen {
    display: unset;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    padding: 5%;
    justify-content: center;
}

#close-button {
    background-color: transparent;
    border: none;
    border-radius: 200px;
    font-size: 20px;
    float: right;
    margin: 10px 10px 10px 10px;
}

.modal-box {
    text-align: left;
    width: 90%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: scroll;
    margin: 0 auto;
}

.modal-box h1 {
   justify-self: left;
}

.modal-image-container {
    padding: 20px;
    width: 250px;
    min-width: 200px;
    height: 250px;
    min-height: 200px;

}

.modal-image {
    width: 100%;
    height: 100%;
}

.modal-content-container {
    display: flex;
    text-align: center;
}

.modal-content {
    width: 100px;
    display: flex;
    margin: 0 auto;
    padding: 30px;    
}

.modal-content P {
    text-align: left;
}

.stat-label {
    text-align: left;
}

.progress {
    margin: 10px;
}

.type-card {
    background-color: none;
    margin: 10px;
    border-radius: 10px;
}


/* @media screen and (min-width: 0px) and (max-width: 700px){

    body {
        display: block;
    }

    .sidebar {
        width: 100%;
        max-width: none;
    }

    .modal-header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .modal-content-container {
        flex-direction: column;
    }

    .sidebar-header-image {
        position: relative;
        width: 20%;
        min-width: 150px;
    }

    } */